
<div class="container">
    <div class="custom-container">
        <div class="container-fluid">
            <div class="card" style="width: 400px">
                <div class="container text-black">
                    <h1>{{book.name}}</h1>
                </div>
                <div class="card-body" >
                    <p class="card-text">
                        {{book.author}}
                    </p>
                    <p class="card-text">
                        {{book.genre}}
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>