.custom-container {
  background-color: aliceblue;
  height: 39rem;
  width: 100%;
}

.container-fluid {
  padding-top: 1rem;
}

ul {
  list-style: none;
  justify-content: space-between;
}

li {
  margin-bottom: 1rem;
}
