<div class="container">
    <div class="custom-container">
        <div class="container-fluid">
            <div class="card" style="width: 400px">
                <div class="container text-black">
                    <h1>Options</h1>
                </div>
                <div class="card-body" >
                    <ul>
                        <li>
                            <button (click)="addBook()">
                                Add new book
                            </button>
                        </li>
                        <li>
                            <button>
                                View all clients and users
                            </button>
                        </li>
                        <li>
                            <button>
                                View all book requests
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
