div {
  padding-bottom: 1.5rem;
}

table {
  width: 75%;
  margin: 0 auto;
  text-align: center;
  background-color: #dddddd;
  font-weight: bold;
}

th.mat-header-cell {
  text-align: center;
  background-color: rgb(219, 175, 175);
  font-weight: bold;
  font-size: larger;
  counter-reset: #222222;
}

.search-box {
  margin-bottom: 0.25rem;
  margin-left: 13%;
  background-color: #eeeeee;
  font-weight: bold;
  margin-top: 1rem;
}

h2 {
  text-align: center;
  padding: 1rem;
}
