/* You can add global styles to this file, and also import other style files */
@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";

body {
  color: #222222;
  background-color: #eeeeee;
}

app-footer {
  bottom: 0;
  width: 100%;
}
